---
import Layout from "@layout";
---

<Layout
  title="Hello vilictus"
  description="This is my website"
  extend={{
    meta: [{ name: "twitter:title", content: "Gran pene" }],
  }}
>
  <h1>Hello vilictus</h1>
  <p>This is my website</p>
</Layout>

<style is:global is:inline>
  h1 {
    font-family: "Inter", sans-serif;
  }
  p {
    font-family: "Quicksand", sans-serif;
  }
</style>
